<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678783009863-it0h53gt93ibpf0ltiei5jae13sjmu60.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678783009863-it0h53gt93ibpf0ltiei5jae13sjmu60</string>
	<key>API_KEY</key>
	<string>AIzaSyCO6qLid9Bd2z6jcB3XzZyD-UVa5Ke6RHg</string>
	<key>GCM_SENDER_ID</key>
	<string>678783009863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.EmrahKarabulut.Uniqueens</string>
	<key>PROJECT_ID</key>
	<string>uniqueens-c6df1</string>
	<key>STORAGE_BUCKET</key>
	<string>uniqueens-c6df1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678783009863:ios:070fb00bc0fb3a25705d62</string>
</dict>
</plist>